<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicial", "Index", "Home")</li>
                <li>@Html.ActionLink("Formulários", "Index", "Formulario")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>@Html.ActionLink("Logar", "LogOn", "Autenticacao")</li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</div>
