@{
    ViewBag.Title = "Index";
    
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_Externo.cshtml";
    }
}
<div class="jumbotron">
    <p style="text-align: justify;">
        Página inicial externa.
        <br /><br />
        Com campos dinâmicos<br />
        <a href="~/nautica-acessorios/som/">/nautica-acessorios/som/</a>
        <br />
        <a href="~/veiculos-acessorios/motor/">/veiculos-acessorios/motor/</a>
        <br />
    </p>
</div>


