@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <p style="margin-left: 20px;">
        <b>Bem vindo,
            @{ if (HttpContext.Current.Session["nomeUsuarioLogado"] != null)
               {
                @HttpContext.Current.Session["nomeUsuarioLogado"].ToString();
               }
            }
        </b>
    </p>
    <p>
        Utilizar para teste:
        <br />
        <br />
        Com campos dinâmicos<br />
        <a href="~/nautica-acessorios/som/">/nautica-acessorios/som/</a>
        <br />
        <a href="~/veiculos-acessorios/motor/">/veiculos-acessorios/motor/</a>
        <br />
    </p>
    <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt tortor neque,
        nec placerat purus dapibus quis. In ullamcorper pretium sapien, quis efficitur nisl
        malesuada non. Phasellus nunc libero, fringilla non scelerisque sed, iaculis at
        velit. Nam at bibendum lorem. Morbi consectetur mauris turpis, dignissim posuere
        ex fringilla eget. Praesent non sagittis velit. Suspendisse suscipit molestie libero,
        eget tempor metus eleifend ut. Sed ac velit mi. In hac habitasse platea dictumst.
        Aliquam erat volutpat. Quisque tristique turpis et ultricies egestas.
    </p>
</div>
